/* Reset Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9fafc;
  color: #2e2e2e;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}